body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merienda', serif;
  background-color:#E4F9F5;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 20px auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.50rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
.top-container {
  background-color:#E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
  padding: 20px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 40px;

}

.web {
  height: 50%;
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.mysql {
  height: 50%;
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-right: 30px;
}

.dp {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.skill-row {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.cafe {
  width: 30%;
  margin: 20px auto;
}

.button {
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
